<footer style="background-color:#2B4A9A;" class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Compañia</h5>
        <li style="list-style: none"><a class="grey-text text-lighten-3" href="#!">Sobre Nosotros</a></li>
        <li style="list-style: none"><a class="grey-text text-lighten-3" href="#!">Contactanos</a></li>
        <li style="list-style: none"><a class="grey-text text-lighten-3" href="#!">Términos y Condiciones</a></li>
        <li style="list-style: none"><a class="grey-text text-lighten-3" href="#!">Políticas de Privacidad</a></li>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Social</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 All rights reserved Sassy Girl
    </div>
  </div>
</footer>
