<nav style="height: 100px;line-height: 100px;">
  <div class="nav-wrapper" id="bg">
    <a href="#" class="brand-logo"><img src="http://img.fenixzone.net/i/o6KJybS.png" style="margin-top:20px" class="responsive-img" alt="logo"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "INICIO", unauthenticated_root_path %></li>
      <li><%= link_to "ROPA Y ACCESORIOS", products_path %></li>
      <li><a href="<%= new_user_session_path %>">INICIAR SESIÓN</a></li>
    </ul>
  </div>
</nav>
