<br>
<br>
<br>
<div id="slider">
  <div class="slides">
    <div class="sliderManual">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h2>Colección Vestidos <br>2018</h2>
        </div>
      </div>
      <div class="image">
        <img src="https://static.oysho.net/6/static2/itxwebstandard/images/h/2018/03/21/slide_tropical.jpg?t=20180328040000111881050">
      </div>
    </div>
    <div class="sliderManual">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h2>Accesorios <br> y Carteras</h2>
        </div>
      </div>
      <div class="image">
        <img src="https://www.universomujeres.com/wp-content/uploads/2016/11/accesorios-esenciales-para-toda-mujer.png">
      </div>
    </div>
    <div class="sliderManual">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h2>Adelanto Otoño<br>2018</h2>
        </div>
      </div>
      <div class="image">
        <img src="https://lalolabcn.com/wp-content/uploads/2016/09/ropa-mujer-oto%C3%B1o.jpg">
      </div>
    </div>
    <div class="sliderManual">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h2>Colección Verano <br>2018</h2>
        </div>
      </div>
      <div class="image">
        <img src="http://www.soda-jeans.com/media/uploads/fotoSlider_eCV3_portada_2016_verano_web.jpg">
      </div>
    </div>
  </div>
  <div class="switch">
    <ul>
      <li>
        <div class="on"></div>
      </li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
<br>
<br>
<h4 id="text-title" class="center-align"> # LOS MÁS PEDIDOS DE LA TEMPORADA</h4>
<hr id="line-title">
<br>
<div class="container">
  <div class="row">
    <div class="col s12 m4 l4 card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://www.forever21.com/images/1_front_750/00248566-01.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Lines Blue Pants<i class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Un par de pantalones versátiles con estampado de rayas, cintura elástica de talle alto y pierna acampanada.</p>
      </div>
    </div>
    <div class="col s12 m4 l4 card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://cdn.shopify.com/s/files/1/1703/6729/products/Vilshenko_Dennie_Top-1_1024x1024.jpg?v=1516711960">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Dennie Top<i class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
    <div class="col s12 m4 l4 card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://www.forever21.com/images/1_front_750/00275399-01.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Cat-eye Cataline
        <i class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Cat-eye Cataline<i class="material-icons right">close</i></span>
        <p>Un par de gafas de sol con un marco de ojo de gato. Disponible en lentesespejados.</p>
      </div>
    </div>
  </div>
</div>
         