<div class="bg-login">
  <div class="container" style="
  padding-top: 250px;">
    <div class="row">
      <div class="col s12 m5 l5 box-card">
      <%= link_to "CATEGORIAS", lab_admin_categories_path %>
      </div>
      <div class="col s12 m5 l5 box-card">
        <%= link_to "PRODUCTOS", lab_admin_products_path %>
      </div>
    </div>
  </div>
</div>

