<div class="container">
  <div class="row">
    <div class="col s12 m4 l4 box-card">
    <p><%= link_to "CATEGORIAS", admin_categories_path %></p>
    </div>
    <div class="col s12 m4 l4 box-card">
      <%= link_to "PRODUCTOS", admin_products_path %>
    </div>
    <div class="col s12 m4 l4 box-card">
      <%= link_to "CUSTOMERS", admin_customers_path %>
    </div>
  </div>
</div>

