<div class="d-flex m-top m-bottom">
  <h1 class="text-uppercase">Editar Producto</h1>
  
  <div class="form-product">
    <%= render 'form' %>
    <%= link_to 'Show', lab_admin_product_path(@product), :class => 'btn-orange' %> 
    <%= link_to 'Back', lab_admin_products_path, :class => 'btn-orange' %>
  </div>
  
</div>
