// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: pink;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.circle {
  border-radius: 50%;
}

.cover {
  background-size: cover;
  background-position: center;
}

.card {
  max-width: 500px;
  margin: auto;
}

.card-default {
  max-width: 100%;
}

.form-padding {
  padding-top: 80px;
}

.btn {
  background: crimson;
  font-size: 1rem;
}

.btn:hover {
  background: rgb(61, 6, 17);
  font-size: 1rem;
}

input:hover {
  border: crimson;

}
.display-none{
  display: none;
}

#slide-out{
  height: 100vh;
  position: fixed;
  z-index: 4;
  left: 0;
  background: #efefef;
  width: 30%;
  top: 0;
}
         