@import "materialize";
// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-fluid{
  padding: 0 5%;
}
.display-none{
  display: none;
}
table.products{
  tr{
    th{
      text-align:center;
    }
    td{
      text-align:center;
    }
  }
  img{
    max-width: 100px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }
}
.btn-orange{
  background: #FDD2AF;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: black;
  font-weight: 600;
}
.pagination{
  float: right;
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

//Styles de show.html
.imagenSelect {
  width: 400px;
  height: 500px;
}

.textDetalles {
  font-family: 'Montserrat', sans-serif;
}

#img-contenedor img {
  transition:all .9s ease; 
  width:100%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#img-contenedor:hover img {
  transform:scale(1.25);
}

#img-contenedor {
  overflow:hidden;
}

//Estilos del admin
.m-top{
  margin-top:7rem;
}
.text-uppercase{
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
}
.m-bottom{
  margin-bottom: 4rem;
}
.img-product-edit{
  max-width: 400px;
}
.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-product{
  border:1px solid #efefef;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  padding: 2rem;
  width: 50%;
}
textarea{
  border:1px solid #ccc;
  resize:none;
}
.collection_radio_buttons{
  margin-left:1.5rem;
}
input[type="radio"]{
  opacity:1!important;
  margin-top: 0.3rem;
  margin-left:0.5rem;
}

.collection a {
  padding: 20px;
}