//Styles del nav.html.erb
#nav-mobile a {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding: 0 40px;
  font-weight: 700;
}

footer {
  font-family: 'Montserrat', sans-serif;
}
//Styles del footer.html.erb
// footer {
//   position: absolute;
//   width: 100%;
//   bottom: 0;
// }